<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/"><i class="fas fa-home fa-1x"></i> Inicio</a>
  <a class="navbar-brand" routerLink="/customers"><i class="fas fa-box-open fa-1x"></i> Ventas</a>
  <a class="navbar-brand" routerLink="/customers"><i class="fas fa-user fa-1x"></i> Clientes</a>
  <a class="navbar-brand" routerLink="/products"><i class="fab fa-product-hunt"></i> Productos</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
