<div class="container container-fixed-lg mt-5">
  <div class="row">
    <div class="col-12 d-flex">
      <div class="col-12 card no-border no-margin widget-loader-circle todolist-widget pending-projects-widget align-self-stretch">
        <div class="card-header bg-white">
          <div class="row">
            <div class="col col-md-7 card-title"><i class="fa fa-save"></i> Crear Producto</div>
            <div class="col col-md-5 text-right">
              <a class="btn btn-sm btn-outline-secondary" routerLink="/products"><i class="fa fa-arrow-left"></i> Atrás</a>
            </div>
          </div>
        </div>
        <div class="card-block flex-1">
          <form *ngIf="!isLoading" [formGroup]="singupForm" (ngSubmit)="save(singupForm)">
            <div class="row">
              <div class="col col-md-6">
                <div class="col col-md-6">
                  <div class="form-group">
                    <label for="precio">Precio</label>
                    <input formControlName="precio" class="form-control" id="precio" type="text" placeholder="0.0">
                  </div>
                </div>
                <div class="col col-md-6">
                  <div class="form-group">
                    <label for="stock">Stock</label>
                    <input formControlName="stock" class="form-control" id="stock" type="text" placeholder="1.0">
                  </div>
                </div>
                <div class="col col-md-12">
                  <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <textarea formControlName="descripcion" class="form-control" id="descripcion" placeholder="Descripción del producto..." rows="5"></textarea>
                  </div>
                </div>
              </div>
              <div class="col col-md-6 text-center align-content-center justify-content-md-center">
                <div class="row">
                  <div class="col col-md-12">
                    <div class="form-group">
                      <label class="col col-md-12" for="foto">Imagen de Producto: </label>
                      <input #file type="file" id="foto" accept='image/*' (change)="preview(file.files)" />
                      <span style="color:red;" *ngIf="message">{{message}}</span>
                    </div>
                  </div>
                  <div class="col col-md-12">
                    <div class="form-group">
                      <img class="rounded-circle" [src]="imgURL" *ngIf="imgURL"  width="300px">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col col-md-12 text-center">
                <button [disabled]="singupForm.invalid" type="submit" class="btn btn-sm btn-success m-2 text-white"><i class="fa fa-save"></i> Guardar</button>
              </div>
            </div>
          </form>
          <div class="row text-center">
            <div class="col col-md-12 text-center" *ngIf="isLoading">
              <img src="assets/public/imgs/loader.gif" width="150px">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
